<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njupt.swg.mapper.PayInfoMapper">
  <resultMap id="BaseResultMap" type="com.njupt.swg.pojo.PayInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_no" jdbcType="BIGINT" property="orderNo" />
    <result column="pay_platform" jdbcType="INTEGER" property="payPlatform" />
    <result column="platform_number" jdbcType="VARCHAR" property="platformNumber" />
    <result column="platform_status" jdbcType="VARCHAR" property="platformStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>