.comment-summary {
    display: flex;
    flex-direction: row;
}

.comment-counts {
    display: flex;
    flex-direction: row;
    margin-top: 37px;
    border: 1px solid #F5F5F5;
    background-color: #FAFAFA;
    width: 500px;
    height: 32px;
    padding: 5px 40px;
}

.counts-words {
    font-size: 16px;
}

.specName {
    font-size: 12px;
    color: gray;
}

.counts-words:hover {
    background-color: lightgray;
    cursor: pointer;
}